openapi: 3.1.0
info:
    title: IntegrityService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/integrity/v1/search-patents:
        get:
            tags:
                - IntegrityService
            summary: SearchPatents
            description: SearchPatents returns the authenticated actor's municipal review queue.
            operationId: SearchPatents
            parameters:
                - name: release_id
                  in: query
                  description: Immutable upstream release to search. Empty allows an explicitly marked last-good fallback.
                  required: false
                  example: "example-id"
                  schema:
                    type: string
                - name: status
                  in: query
                  description: Reported or provisional patent status to match.
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: license_type
                  in: query
                  description: Municipal patent type to match.
                  required: false
                  example: "all"
                  schema:
                    type: string
                - name: activity
                  in: query
                  description: Case-insensitive activity text to match.
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: address
                  in: query
                  description: Case-insensitive establishment address text to match.
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: effective_on
                  in: query
                  description: Date used to evaluate effective records, in YYYY-MM-DD form.
                  required: false
                  example: "2025-01-01"
                  schema:
                    type: string
                    pattern: '^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
                - name: cursor
                  in: query
                  description: Opaque continuation cursor returned by the preceding page.
                  required: false
                  example: "next-page-token"
                  schema:
                    type: string
                - name: page_size
                  in: query
                  description: Maximum records to return. Zero uses the upstream default; maximum is 100.
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: establishment_id
                  in: query
                  description: Producer-issued establishment identifier to match.
                  required: false
                  example: "example-id"
                  schema:
                    type: string
                - name: parcel_id
                  in: query
                  description: Producer-issued parcel identifier to match.
                  required: false
                  example: "example-id"
                  schema:
                    type: string
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "availability": "example"
                                "dataAsOf": "example"
                                "dataMarking": "example"
                                "items":
                                    - "activities":
                                        - "example"
                                      "address": "example"
                                      "establishmentIds":
                                          - "example"
                                      "holderDisplayNames":
                                          - "WorldMonitor Analyst"
                                      "licenseId": "example-id"
                                "limitationCodes":
                                    - "example"
                            schema:
                                $ref: '#/components/schemas/SearchPatentsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        JmespathProjectionError:
            description: Returned when a REST jmespath projection is invalid or exceeds the expression/output byte limits.
            properties:
                _jmespath_error:
                    description: Projection error discriminator and details.
                    type: string
                original_keys:
                    description: Top-level keys or shape of the unprojected response.
                    items:
                        type: string
                    type: array
            required:
                - _jmespath_error
                - original_keys
            type: object
        UnauthorizedError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable error message.
            required:
                - error
            description: Returned when the API key is missing, malformed, or lacks current API access.
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        BillingVerificationError:
            type: object
            description: "Returned with HTTP 503 when paid access cannot be confirmed right now: the billing provider is re-verifying a recently expired subscription, or the entitlement backend is unreachable. Retryable — honor Retry-After."
            properties:
                error:
                    type: string
                    description: Human-readable billing-verification failure reason.
                code:
                    type: string
                    enum:
                        - renewal_verification_pending
                        - renewal_verification_failed
                        - entitlement_verification_unavailable
                    description: Machine-readable billing-verification state, mirrored in the X-Billing-Verification response header.
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint, when the denial came from a tier gate.
            required:
                - error
                - code
        InvalidRequestBodyError:
            type: object
            description: Returned when a JSON POST request body is empty or malformed.
            properties:
                message:
                    type: string
                    description: Invalid request body
            required:
                - message
        GatewayError:
            type: object
            description: Returned by gateway infrastructure errors before an RPC handler runs, such as origin, routing, method, authentication, or quota checks.
            properties:
                error:
                    oneOf:
                        - type: string
                        - type: object
                          additionalProperties: true
                    description: Gateway error reason or structured gateway failure details.
            required:
                - error
        RateLimitError:
            type: object
            description: Returned when a gateway or handler rate limit rejects the request.
            properties:
                error:
                    type: string
                    description: Human-readable rate-limit failure reason.
            required:
                - error
        ForbiddenError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable entitlement failure reason.
                code:
                    type: string
                    enum:
                        - subscription_lapsed
                    description: Machine-readable denial code, present when the 403 is a billing-provider-confirmed subscription lapse (mirrored in the X-Billing-Verification response header).
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint.
                currentTier:
                    type: integer
                    format: int32
                    description: Caller entitlement tier when known.
                planKey:
                    type: string
                    description: Caller plan key when known.
            required:
                - error
            description: Returned when a PRO-gated endpoint denies access because the caller has no resolved authenticated user, entitlements cannot be verified, or the caller lacks the required entitlement tier.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        SearchPatentsRequest:
            type: object
            properties:
                releaseId:
                    type: string
                    maxLength: 300
                    description: Immutable upstream release to search. Empty allows an explicitly marked last-good fallback.
                status:
                    type: string
                    maxLength: 100
                    description: Reported or provisional patent status to match.
                licenseType:
                    type: string
                    maxLength: 100
                    description: Municipal patent type to match.
                activity:
                    type: string
                    maxLength: 300
                    description: Case-insensitive activity text to match.
                address:
                    type: string
                    maxLength: 500
                    description: Case-insensitive establishment address text to match.
                effectiveOn:
                    type: string
                    maxLength: 10
                    pattern: ^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}$
                    description: Date used to evaluate effective records, in YYYY-MM-DD form.
                cursor:
                    type: string
                    maxLength: 1000
                    description: Opaque continuation cursor returned by the preceding page.
                pageSize:
                    type: integer
                    maximum: 100
                    minimum: 0
                    format: int32
                    description: Maximum records to return. Zero uses the upstream default; maximum is 100.
                establishmentId:
                    type: string
                    maxLength: 200
                    description: Producer-issued establishment identifier to match.
                parcelId:
                    type: string
                    maxLength: 200
                    description: Producer-issued parcel identifier to match.
            description: |-
                SearchPatentsRequest filters the municipal review queue. The municipality is
                 intentionally absent: it is derived from the authenticated actor's server-side scope.
        SearchPatentsResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/PatentQueueItem'
                nextCursor:
                    type: string
                    description: Opaque cursor for the next page. Empty means there is no next page.
                releaseId:
                    type: string
                    description: Immutable upstream release that produced this response.
                dataAsOf:
                    type: string
                    description: Upstream data timestamp or date.
                availability:
                    type: string
                    description: Upstream availability state for this result set.
                dataMarking:
                    type: string
                    description: Public-data marking supplied by the upstream dataset.
                limitationCodes:
                    type: array
                    items:
                        type: string
                        description: Machine-readable limitations applying to the response as a whole.
        PatentQueueItem:
            type: object
            properties:
                licenseId:
                    type: string
                    description: Stable municipality-issued source identifier of the patent.
                municipalityCut:
                    type: string
                    description: Municipality code from the authenticated actor's scope.
                licenseNumber:
                    type: string
                    description: Municipality-issued patent number.
                licenseType:
                    type: string
                    description: Reported municipal patent type.
                reportedStatus:
                    type: string
                    description: Status reported by the source municipality.
                provisionalStatus:
                    type: string
                    description: Provisional status derived by the upstream normalization pipeline.
                address:
                    type: string
                    description: Public establishment address associated with the patent.
                holderDisplayNames:
                    type: array
                    items:
                        type: string
                        description: Public display names of associated patent holders.
                activities:
                    type: array
                    items:
                        type: string
                        description: Economic activities registered for the patent.
                establishmentIds:
                    type: array
                    items:
                        type: string
                        description: Establishment identifiers associated with the patent.
                parcelResolutionStatus:
                    type: string
                    description: Resolution status of the associated parcel.
                limitationCodes:
                    type: array
                    items:
                        type: string
                        description: Machine-readable limitations affecting interpretation of this item.
