openapi: 3.1.0
info:
    title: IntegrityService API
    version: 1.0.0
security:
    - WorldMonitorKey: []
    - ApiKeyHeader: []
servers:
    - url: https://api.worldmonitor.app
paths:
    /api/integrity/v1/search-patents:
        get:
            tags:
                - IntegrityService
            summary: SearchPatents
            description: SearchPatents returns the authenticated actor's municipal review queue.
            operationId: SearchPatents
            parameters:
                - name: release_id
                  in: query
                  description: Immutable upstream release to search. Empty allows an explicitly marked last-good fallback.
                  required: false
                  example: "example-id"
                  schema:
                    type: string
                - name: status
                  in: query
                  description: Reported or provisional patent status to match.
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: license_type
                  in: query
                  description: Municipal patent type to match.
                  required: false
                  example: "all"
                  schema:
                    type: string
                - name: activity
                  in: query
                  description: Case-insensitive activity text to match.
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: legal_entity_rut
                  deprecated: true
                  in: query
                  description: Deprecated compatibility field. Non-empty values are rejected because the producer has no queryable RUT.
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: address
                  in: query
                  description: Case-insensitive establishment address text to match.
                  required: false
                  example: "example"
                  schema:
                    type: string
                - name: effective_on
                  in: query
                  description: Date used to evaluate effective records, in YYYY-MM-DD form.
                  required: false
                  example: "2025-01-01"
                  schema:
                    type: string
                    pattern: '^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}$'
                - name: cursor
                  in: query
                  description: Opaque continuation cursor returned by the preceding page.
                  required: false
                  example: "next-page-token"
                  schema:
                    type: string
                - name: page_size
                  in: query
                  description: Maximum records to return. Zero uses the upstream default; maximum is 100.
                  required: false
                  example: 25
                  schema:
                    type: integer
                    format: int32
                - name: establishment_id
                  in: query
                  description: Producer-issued establishment identifier to match.
                  required: false
                  example: "example-id"
                  schema:
                    type: string
                - name: parcel_id
                  in: query
                  description: Producer-issued parcel identifier to match.
                  required: false
                  example: "example-id"
                  schema:
                    type: string
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "availability": "example"
                                "dataAsOf": "example"
                                "dataMarking": "example"
                                "items":
                                    - "activities":
                                        - "example"
                                      "address": "example"
                                      "establishmentIds":
                                          - "example"
                                      "holderDisplayNames":
                                          - "WorldMonitor Analyst"
                                      "licenseId": "example-id"
                                "limitationCodes":
                                    - "example"
                            schema:
                                $ref: '#/components/schemas/SearchPatentsResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/integrity/v1/open-license-review:
        post:
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Optional client-generated idempotency key. Retrying a POST with the same key and an identical request body replays the original response (only the status, body, and Content-Type are reproduced) instead of re-executing; reusing the key with a different body is rejected with 422. For mutations this avoids duplicating the side effect, while for batch-read POSTs it replays a cached snapshot that can be up to 24 hours stale. Keys are scoped per authenticated caller (falling back to the source IP for unauthenticated endpoints) and retained for 24 hours.
                  required: false
                  example: "4f8b9c2e-1a3d-4b6f-8e0a-2c5d7f9b1e34"
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
                    pattern: "^[\\x21-\\x7E]{1,255}$"
            tags:
                - IntegrityService
            summary: OpenLicenseReview
            description: OpenLicenseReview pins the selected release and persists its EvidencePacket.
            operationId: OpenLicenseReview
            requestBody:
                content:
                    application/json:
                        example:
                            "effectiveOn": "2025-01-01"
                            "licenseId": "example-id"
                            "releaseId": "example-id"
                        schema:
                            $ref: '#/components/schemas/OpenLicenseReviewRequest'
                required: true
            responses:
                "200":
                    description: Successful response
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key echoed from the request. Present only when the client opted into idempotency.
                        Idempotent-Replayed:
                            schema:
                                type: boolean
                            description: true when this response was replayed from an earlier request with the same key, false on the first (original) request. Present only when the client opted into idempotency.
                    content:
                        application/json:
                            example:
                                "actionId": "example-id"
                                "actionType": "all"
                                "caseId": "example-id"
                                "caseVersion": 1
                                "legalEffect": "example"
                            schema:
                                $ref: '#/components/schemas/ReviewMutationResponse'
                "400":
                    description: Validation error, invalid Idempotency-Key header, or malformed JSON request body
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - type: object
                                      required:
                                        - error
                                        - message
                                      properties:
                                        error:
                                            type: string
                                        message:
                                            type: string
                                    - $ref: '#/components/schemas/InvalidRequestBodyError'
                "409":
                    description: A request with this Idempotency-Key is still being processed
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key supplied by the client.
                        Retry-After:
                            schema:
                                type: string
                            description: Seconds to wait before retrying the in-flight request.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - error
                                    - message
                                properties:
                                    error:
                                        type: string
                                    message:
                                        type: string
                "422":
                    description: The Idempotency-Key was already used with a different request body
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key supplied by the client.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - error
                                    - message
                                properties:
                                    error:
                                        type: string
                                    message:
                                        type: string
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/integrity/v1/get-review-case:
        get:
            tags:
                - IntegrityService
            summary: GetReviewCase
            description: GetReviewCase returns one explicit case version; latest is never implicit.
            operationId: GetReviewCase
            parameters:
                - name: case_id
                  in: query
                  description: Stable identifier of the municipal review case.
                  required: false
                  example: "example-id"
                  schema:
                    type: string
                - name: case_version
                  in: query
                  description: Exact immutable case version to read.
                  required: false
                  example: 1
                  schema:
                    type: integer
                    format: int32
                - name: jmespath
                  in: query
                  description: |-
                    Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.
                  required: false
                  example: "keys(@)"
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                    content:
                        application/json:
                            example:
                                "actionJson":
                                    - "example"
                                "caseJson": "example"
                                "evidencePacketJson": "example"
                                "permittedActions":
                                    - "example"
                            schema:
                                $ref: '#/components/schemas/ReviewCaseDossierResponse'
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - $ref: '#/components/schemas/JmespathProjectionError'
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/integrity/v1/assign-reviewer:
        post:
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Optional client-generated idempotency key. Retrying a POST with the same key and an identical request body replays the original response (only the status, body, and Content-Type are reproduced) instead of re-executing; reusing the key with a different body is rejected with 422. For mutations this avoids duplicating the side effect, while for batch-read POSTs it replays a cached snapshot that can be up to 24 hours stale. Keys are scoped per authenticated caller (falling back to the source IP for unauthenticated endpoints) and retained for 24 hours.
                  required: false
                  example: "4f8b9c2e-1a3d-4b6f-8e0a-2c5d7f9b1e34"
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
                    pattern: "^[\\x21-\\x7E]{1,255}$"
            tags:
                - IntegrityService
            summary: AssignReviewer
            description: AssignReviewer records a municipality-scoped reviewer assignment.
            operationId: AssignReviewer
            requestBody:
                content:
                    application/json:
                        example:
                            "caseId": "example-id"
                            "expectedCaseVersion": 1
                            "reviewerId": "example-id"
                        schema:
                            $ref: '#/components/schemas/AssignReviewerRequest'
                required: true
            responses:
                "200":
                    description: Successful response
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key echoed from the request. Present only when the client opted into idempotency.
                        Idempotent-Replayed:
                            schema:
                                type: boolean
                            description: true when this response was replayed from an earlier request with the same key, false on the first (original) request. Present only when the client opted into idempotency.
                    content:
                        application/json:
                            example:
                                "actionId": "example-id"
                                "actionType": "all"
                                "caseId": "example-id"
                                "caseVersion": 1
                                "legalEffect": "example"
                            schema:
                                $ref: '#/components/schemas/ReviewMutationResponse'
                "400":
                    description: Validation error, invalid Idempotency-Key header, or malformed JSON request body
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - type: object
                                      required:
                                        - error
                                        - message
                                      properties:
                                        error:
                                            type: string
                                        message:
                                            type: string
                                    - $ref: '#/components/schemas/InvalidRequestBodyError'
                "409":
                    description: A request with this Idempotency-Key is still being processed
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key supplied by the client.
                        Retry-After:
                            schema:
                                type: string
                            description: Seconds to wait before retrying the in-flight request.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - error
                                    - message
                                properties:
                                    error:
                                        type: string
                                    message:
                                        type: string
                "422":
                    description: The Idempotency-Key was already used with a different request body
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key supplied by the client.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - error
                                    - message
                                properties:
                                    error:
                                        type: string
                                    message:
                                        type: string
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
    /api/integrity/v1/record-review-action:
        post:
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Optional client-generated idempotency key. Retrying a POST with the same key and an identical request body replays the original response (only the status, body, and Content-Type are reproduced) instead of re-executing; reusing the key with a different body is rejected with 422. For mutations this avoids duplicating the side effect, while for batch-read POSTs it replays a cached snapshot that can be up to 24 hours stale. Keys are scoped per authenticated caller (falling back to the source IP for unauthenticated endpoints) and retained for 24 hours.
                  required: false
                  example: "4f8b9c2e-1a3d-4b6f-8e0a-2c5d7f9b1e34"
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
                    pattern: "^[\\x21-\\x7E]{1,255}$"
            tags:
                - IntegrityService
            summary: RecordReviewAction
            description: RecordReviewAction appends analysis, requests, recommendations, official outcomes or closure.
            operationId: RecordReviewAction
            requestBody:
                content:
                    application/json:
                        example:
                            "actionType": "all"
                            "caseId": "example-id"
                            "expectedCaseVersion": 1
                            "externalReference": "example"
                            "note": "example"
                        schema:
                            $ref: '#/components/schemas/RecordReviewActionRequest'
                required: true
            responses:
                "200":
                    description: Successful response
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key echoed from the request. Present only when the client opted into idempotency.
                        Idempotent-Replayed:
                            schema:
                                type: boolean
                            description: true when this response was replayed from an earlier request with the same key, false on the first (original) request. Present only when the client opted into idempotency.
                    content:
                        application/json:
                            example:
                                "actionId": "example-id"
                                "actionType": "all"
                                "caseId": "example-id"
                                "caseVersion": 1
                                "legalEffect": "example"
                            schema:
                                $ref: '#/components/schemas/ReviewMutationResponse'
                "400":
                    description: Validation error, invalid Idempotency-Key header, or malformed JSON request body
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/ValidationError'
                                    - type: object
                                      required:
                                        - error
                                        - message
                                      properties:
                                        error:
                                            type: string
                                        message:
                                            type: string
                                    - $ref: '#/components/schemas/InvalidRequestBodyError'
                "409":
                    description: A request with this Idempotency-Key is still being processed
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key supplied by the client.
                        Retry-After:
                            schema:
                                type: string
                            description: Seconds to wait before retrying the in-flight request.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - error
                                    - message
                                properties:
                                    error:
                                        type: string
                                    message:
                                        type: string
                "422":
                    description: The Idempotency-Key was already used with a different request body
                    headers:
                        Idempotency-Key:
                            schema:
                                type: string
                            description: The idempotency key supplied by the client.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - error
                                    - message
                                properties:
                                    error:
                                        type: string
                                    message:
                                        type: string
                "401":
                    description: Missing or invalid API key.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UnauthorizedError'
                "403":
                    description: API access requires an active subscription (the API key's subscription is inactive or expired).
                    headers:
                        X-Billing-Verification:
                            description: Present when the 403 is a billing-provider-confirmed subscription lapse (value subscription_lapsed, matching the body `code`).
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ForbiddenError'
                "429":
                    description: Rate limit exceeded.
                    headers:
                        X-RateLimit-Limit:
                            description: Maximum requests allowed in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Remaining:
                            description: Requests remaining in the active rate-limit window.
                            schema:
                                type: string
                        X-RateLimit-Reset:
                            description: Unix epoch milliseconds when the active rate-limit window resets.
                            schema:
                                type: string
                        Retry-After:
                            description: Seconds to wait before retrying the request.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/RateLimitError'
                "503":
                    description: Service unavailable. Billing-verification responses include code and X-Billing-Verification; other gateway infrastructure failures use the generic GatewayError shape.
                    headers:
                        Retry-After:
                            description: Seconds to wait before retrying (1-60).
                            schema:
                                type: string
                        X-Billing-Verification:
                            description: Billing-verification state that produced this response (matches the body `code`).
                            schema:
                                type: string
                        X-Validation-Mode:
                            description: Present with value degraded when user API-key validation is temporarily unavailable.
                            schema:
                                type: string
                        X-RateLimit-Mode:
                            description: Present with value degraded when a fail-closed rate-limit dependency is unavailable.
                            schema:
                                type: string
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/BillingVerificationError'
                                    - $ref: '#/components/schemas/GatewayError'
                default:
                    description: Gateway or handler error response.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/Error'
                                    - $ref: '#/components/schemas/GatewayError'
components:
    securitySchemes:
        WorldMonitorKey:
            type: apiKey
            in: header
            name: X-WorldMonitor-Key
            description: User-issued WorldMonitor API key.
        ApiKeyHeader:
            type: apiKey
            in: header
            name: X-Api-Key
            description: Alias header for the WorldMonitor API key (X-WorldMonitor-Key).
    schemas:
        JmespathProjectionError:
            description: Returned when a REST jmespath projection is invalid or exceeds the expression/output byte limits.
            properties:
                _jmespath_error:
                    description: Projection error discriminator and details.
                    type: string
                original_keys:
                    description: Top-level keys or shape of the unprojected response.
                    items:
                        type: string
                    type: array
            required:
                - _jmespath_error
                - original_keys
            type: object
        UnauthorizedError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable error message.
            required:
                - error
            description: Returned when the API key is missing, malformed, or lacks current API access.
        Error:
            type: object
            properties:
                message:
                    type: string
                    description: Error message (e.g., 'user not found', 'database connection failed')
            description: Error is returned when a handler encounters an error. It contains a simple error message that the developer can customize.
        BillingVerificationError:
            type: object
            description: "Returned with HTTP 503 when paid access cannot be confirmed right now: the billing provider is re-verifying a recently expired subscription, or the entitlement backend is unreachable. Retryable — honor Retry-After."
            properties:
                error:
                    type: string
                    description: Human-readable billing-verification failure reason.
                code:
                    type: string
                    enum:
                        - renewal_verification_pending
                        - renewal_verification_failed
                        - entitlement_verification_unavailable
                    description: Machine-readable billing-verification state, mirrored in the X-Billing-Verification response header.
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint, when the denial came from a tier gate.
            required:
                - error
                - code
        InvalidRequestBodyError:
            type: object
            description: Returned when a JSON POST request body is empty or malformed.
            properties:
                message:
                    type: string
                    description: Invalid request body
            required:
                - message
        GatewayError:
            type: object
            description: Returned by gateway infrastructure errors before an RPC handler runs, such as origin, routing, method, authentication, or quota checks.
            properties:
                error:
                    oneOf:
                        - type: string
                        - type: object
                          additionalProperties: true
                    description: Gateway error reason or structured gateway failure details.
            required:
                - error
        RateLimitError:
            type: object
            description: Returned when a gateway or handler rate limit rejects the request.
            properties:
                error:
                    type: string
                    description: Human-readable rate-limit failure reason.
            required:
                - error
        ForbiddenError:
            type: object
            properties:
                error:
                    type: string
                    description: Human-readable entitlement failure reason.
                code:
                    type: string
                    enum:
                        - subscription_lapsed
                    description: Machine-readable denial code, present when the 403 is a billing-provider-confirmed subscription lapse (mirrored in the X-Billing-Verification response header).
                requiredTier:
                    type: integer
                    format: int32
                    description: Minimum entitlement tier required for this endpoint.
                currentTier:
                    type: integer
                    format: int32
                    description: Caller entitlement tier when known.
                planKey:
                    type: string
                    description: Caller plan key when known.
            required:
                - error
            description: Returned when a PRO-gated endpoint denies access because the caller has no resolved authenticated user, entitlements cannot be verified, or the caller lacks the required entitlement tier.
        FieldViolation:
            type: object
            properties:
                field:
                    type: string
                    description: The field path that failed validation (e.g., 'user.email' for nested fields). For header validation, this will be the header name (e.g., 'X-API-Key')
                description:
                    type: string
                    description: Human-readable description of the validation violation (e.g., 'must be a valid email address', 'required field missing')
            required:
                - field
                - description
            description: FieldViolation describes a single validation error for a specific field.
        ValidationError:
            type: object
            properties:
                violations:
                    type: array
                    items:
                        $ref: '#/components/schemas/FieldViolation'
                    description: List of validation violations
            required:
                - violations
            description: ValidationError is returned when request validation fails. It contains a list of field violations describing what went wrong.
        SearchPatentsRequest:
            type: object
            properties:
                releaseId:
                    type: string
                    maxLength: 300
                    description: Immutable upstream release to search. Empty allows an explicitly marked last-good fallback.
                status:
                    type: string
                    maxLength: 100
                    description: Reported or provisional patent status to match.
                licenseType:
                    type: string
                    maxLength: 100
                    description: Municipal patent type to match.
                activity:
                    type: string
                    maxLength: 300
                    description: Case-insensitive activity text to match.
                legalEntityRut:
                    deprecated: true
                    type: string
                    maxLength: 20
                    description: Deprecated compatibility field. Non-empty values are rejected because the producer has no queryable RUT.
                address:
                    type: string
                    maxLength: 500
                    description: Case-insensitive establishment address text to match.
                effectiveOn:
                    type: string
                    maxLength: 10
                    pattern: ^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}$
                    description: Date used to evaluate effective records, in YYYY-MM-DD form.
                cursor:
                    type: string
                    maxLength: 1000
                    description: Opaque continuation cursor returned by the preceding page.
                pageSize:
                    type: integer
                    maximum: 100
                    minimum: 0
                    format: int32
                    description: Maximum records to return. Zero uses the upstream default; maximum is 100.
                establishmentId:
                    type: string
                    maxLength: 200
                    description: Producer-issued establishment identifier to match.
                parcelId:
                    type: string
                    maxLength: 200
                    description: Producer-issued parcel identifier to match.
            description: |-
                SearchPatentsRequest filters the municipal review queue. The municipality is
                 intentionally absent: it is derived from the authenticated actor's server-side scope.
        SearchPatentsResponse:
            type: object
            properties:
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/PatentQueueItem'
                nextCursor:
                    type: string
                    description: Opaque cursor for the next page. Empty means there is no next page.
                releaseId:
                    type: string
                    description: Immutable upstream release that produced this response.
                dataAsOf:
                    type: string
                    description: Upstream data timestamp or date.
                availability:
                    type: string
                    description: Upstream availability state for this result set.
                dataMarking:
                    type: string
                    description: Public-data marking supplied by the upstream dataset.
                limitationCodes:
                    type: array
                    items:
                        type: string
                        description: Machine-readable limitations applying to the response as a whole.
        PatentQueueItem:
            type: object
            properties:
                licenseId:
                    type: string
                    description: Stable municipality-issued source identifier of the patent.
                municipalityCut:
                    type: string
                    description: Municipality code from the authenticated actor's scope.
                licenseNumber:
                    type: string
                    description: Municipality-issued patent number.
                licenseType:
                    type: string
                    description: Reported municipal patent type.
                reportedStatus:
                    type: string
                    description: Status reported by the source municipality.
                provisionalStatus:
                    type: string
                    description: Provisional status derived by the upstream normalization pipeline.
                address:
                    type: string
                    description: Public establishment address associated with the patent.
                holderDisplayNames:
                    type: array
                    items:
                        type: string
                        description: Public display names of associated patent holders.
                activities:
                    type: array
                    items:
                        type: string
                        description: Economic activities registered for the patent.
                establishmentIds:
                    type: array
                    items:
                        type: string
                        description: Establishment identifiers associated with the patent.
                parcelResolutionStatus:
                    type: string
                    description: Resolution status of the associated parcel.
                limitationCodes:
                    type: array
                    items:
                        type: string
                        description: Machine-readable limitations affecting interpretation of this item.
        OpenLicenseReviewRequest:
            type: object
            properties:
                licenseId:
                    type: string
                    maxLength: 200
                    minLength: 1
                releaseId:
                    type: string
                    maxLength: 300
                    minLength: 1
                effectiveOn:
                    type: string
                    maxLength: 10
                    pattern: ^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}$
            description: |-
                OpenLicenseReviewRequest creates one active, release-pinned review case.
                 Actor, municipality, roles and classification are derived by the server.
        ReviewMutationResponse:
            type: object
            properties:
                caseId:
                    type: string
                caseVersion:
                    type: integer
                    format: int32
                status:
                    type: string
                actionId:
                    type: string
                actionType:
                    type: string
                legalEffect:
                    type: string
                replayed:
                    type: boolean
        GetReviewCaseRequest:
            type: object
            properties:
                caseId:
                    type: string
                    maxLength: 200
                    minLength: 1
                    description: Stable identifier of the municipal review case.
                caseVersion:
                    type: integer
                    minimum: 1
                    format: int32
                    description: Exact immutable case version to read.
        ReviewCaseDossierResponse:
            type: object
            properties:
                caseJson:
                    type: string
                evidencePacketJson:
                    type: string
                actionJson:
                    type: array
                    items:
                        type: string
                permittedActions:
                    type: array
                    items:
                        type: string
                        description: Actions currently available to the authenticated actor for this case state.
            description: |-
                The JSON fields contain validated, immutable domain snapshots. Keeping the
                 v0.1.0 document intact prevents a lossy transport projection of evidence.
        AssignReviewerRequest:
            type: object
            properties:
                caseId:
                    type: string
                    maxLength: 200
                    minLength: 1
                expectedCaseVersion:
                    type: integer
                    minimum: 1
                    format: int32
                reviewerId:
                    type: string
                    maxLength: 200
                    minLength: 1
        RecordReviewActionRequest:
            type: object
            properties:
                caseId:
                    type: string
                    maxLength: 200
                    minLength: 1
                expectedCaseVersion:
                    type: integer
                    minimum: 1
                    format: int32
                actionType:
                    type: string
                    maxLength: 80
                    minLength: 1
                note:
                    type: string
                    maxLength: 4000
                outcomeCode:
                    type: string
                    maxLength: 100
                externalReference:
                    type: string
                    maxLength: 500
            description: |-
                RecordReviewActionRequest appends one human action. action_type is restricted
                 server-side because its transition and role rules depend on current case state.
